<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zakiva.santa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".Santa"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Google"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trivia"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Facebook"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Draw"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DrawingGame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Score"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Prize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Games"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TriviaGame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Loader"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrizeInformation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.vungle.publisher.VideoFullScreenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.vungle.publisher.MraidFullScreenAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name=".HallOfFame" />
        <activity android:name=".PopUp" />
        <activity
            android:name=".SignUp"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".Models.FacebookSignUp" />
        <activity android:name=".Models.GoogleSignUp" />
        <activity android:name=".WinnerForm"></activity>
    </application>

</manifest>